name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use NodeJS v16
        uses: actions/setup-node@v2.2.0
        with:
          node-version: 16.x
      - name: Install
        run: npm ci
      - name: Lint
        run: npm run lint

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use NodeJS v${{ matrix.node-version }}
      uses: actions/setup-node@v2.2.0
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install
      run: npm ci
    - name: Test
      run: npm test

  action-test:
    name: Action test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: mondeja/strip-gh-theme-links@feat-2
      with:
        files: README.md
        strict: true
    - run: cat README.md
    - name: Strict integration test
      continue-on-error: true
      uses: mondeja/strip-gh-theme-links@feat-2
      with:
        files: |
          unexistent-file.md
          another-unexistent-file.md
        strict: true
    - if: ${{ success() }}
      run: |
        echo "Strict integration test failed"
        exit 1
    - if: ${{ failure() }}
      run: |
        echo "Strict integration test success"



  npm:
    if: startsWith(github.ref, 'refs/tags/')
    needs:
      - test
      - lint
      - action-test
    name: NPM Package
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use NodeJS v16
      uses: actions/setup-node@v2.2.0
      with:
        node-version: 16.x
    - name: Install dependencies
      run: npm ci
    - name: Sanity check
      run: |
        npm run lint
        npm test
    - name: Deploy to NPM
      uses: JS-DevTools/npm-publish@v1.4.3
      with:
        token: ${{ secrets.NPM_TOKEN }}

  release:
    name: Release
    needs: npm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get tag metadata
        id: tag
        run: |
          TAG_TITLE=${GITHUB_REF#refs/*/}
          echo ::set-output name=title::$TAG_TITLE
          git -c protocol.version=2 fetch --prune --progress \
            --no-recurse-submodules origin \
            +refs/heads/*:refs/remotes/origin/* +refs/tags/*:refs/tags/*
          TAG_BODY="$(git tag -l --format='%(contents)' $TAG_TITLE)"
          TAG_BODY="${TAG_BODY//'%'/'%25'}"
          TAG_BODY="${TAG_BODY//$'\n'/'%0A'}"
          TAG_BODY="${TAG_BODY//$'\r'/'%0D'}"
          echo ::set-output name=body::$TAG_BODY
      - name: Create Release
        uses: actions/create-release@v1.1.4
        id: create-release
        with:
          tag_name: ${{ steps.tag.outputs.title }}
          release_name: ${{ steps.tag.outputs.title }}
          body: ${{ steps.tag.outputs.body }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
